<!-- dictatorIntroduction.html -->

<div class="card bg-light m-3">
    <div class="card-body">
        <h3>
            Instrucciones del Juego del Dictador
        </h3>

        <p>
            Has completado el IAT y ahora participarás en el Juego del Dictador.
            En este juego, decidirás cómo asignar los fondos que has recibido.
        </p>
        <p>
            Tienes <strong>{{ endowment }}</strong> para dividir.
            Decidirás cuánto de esta cantidad retendrás para ti y cuánto asignarás a la siguiente categoría:
        </p>
        <ul>
            <li><strong>{{ category }}</strong></li>
        </ul>
    </div>
</div>
